*.log
*.pot
*.pyc
.idea
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
mbuild/.env
/data/
Makefile
/api/static/admin/*
/api/static/drf-yasg/*
/api/static/rest_framework/*
/api/static/safedelete/*
.DS_Store
*.sql
*.env
*.local*